/* Layout */

.ageDisplayContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/* Content Styles */

.ageDisplayValue {
  font-size: 5rem;
}

.ageDisplayValue span,
.ageDisplaySecondaryValue span {
  color: #fcc419;
}

.ageDisplaySecondaryValue span {
  font-weight: 600;
}

.ageDisplaySecondaryValue {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: right;
}
